<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">

    <profiles>
        <profile>
            <id>defaults</id>
            <properties>
                <app-name>${env.APP_NAME}</app-name>
                <vivo-dir>${env.VIVO_HOME}/home</vivo-dir>
                <tomcat-dir>${env.TOMCAT_HOME}</tomcat-dir>
                <default-theme>${env.VIVO_THEME}</default-theme>
                <vivo-version>${env.VIVO_DIST_RELEASE}</vivo-version>
                <vitro-version>${env.VIVO_DIST_RELEASE}</vitro-version>
            </properties>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>defaults</activeProfile>
    </activeProfiles>
</settings>
